@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}

.quill {
  text-align: center;
  border: 1px solid #f1f1f3;
  border-radius: 10px;
  padding: 15px 25px;

  .ql-toolbar.ql-snow {
    display: inline-block;
    border: none;
    @apply bg-text4 bg-opacity-10 rounded-xl py-3 px-5 inline-block;
  }

  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }

  .ql-editor {
    @apply pt-10;
  }

  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-text4;
  }
}

.shadow-1 {
  box-shadow: -4px 4px 8px rgba(226, 226, 226, 0.2), 4px 4px 8px rgba(226, 226, 226, 0.2);
}
.ReactModal__Body--open {
  overflow: hidden;
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
